body
{
	border: 10px solid;
	padding: 8px;
	background:rosybrown
	color:rebeccapurple;
}

header
{
	border: 1px solid;
	padding: 5px;
	margin: 3%;
	background: brown;
	text-align: center;
}
a
{
	height: 50px;
	width: 25%;
	display:inline-block;
	text-decoration:none;
	color:#fff;
	align-content: center;
}
a:hover
{
	color: #fff;
	background: #af2d2d;
}
#categories img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#contacts
{
  margin: auto;
  width: 80%;
  border: 3px solid #000000;
  padding: 10px;
  text-align: center;
}
#contacts img
{
	width: 25%;
	border: 1px solid #000000;
	margin: 10px;
}

h4
{
	margin-right: 30%;
	margin-left: 30%;
	border: 3px solid red;
  padding: 10px;
	background:rosybrown;
	font-weight: bold;
}